.powermenu-widget {
    background-color: $background;

    border-radius: $borderRadius * 3;
    padding: $generalPadding;
}

.powermenu-widget-item {
    background-color: $surface;
    border-radius:  100%;

    margin: 0;
}

.powermenu-widget-item:hover {
    background-color: mix($surface, white, 90%);
}

.powermenu-widget-item:focus {
    background-color: $primary;
}