window {
    font-family: "Product Sans";
    font-size: 16pt;
    font-weight: bold;
    color: #cdd6f4; /* text */
    background-color: rgba(30, 30, 46, 0.5);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: none;
    background-color: rgba(30, 30, 46, 0.3);
    margin: 10px 10px;
    border-radius: 32px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

button:hover {
    background-color: #cba6f7;
    color: #000000;
}

#lock {
    background-image: image(url("./lock.png"));
}

#logout {
    background-image: image(url("./logout.png"));
}

#suspend {
    background-image: image(url("./sleep.png"));
}

#shutdown {
    background-image: image(url("./power.png"));
}

#reboot {
    background-image: image(url("./restart.png"));
}

#hibernate {
    background-image: image(url("./hibernate.png"));
}

