.languageindicator-widget {
    background-color: $surface;

    border-radius: $borderRadius;
    padding: $generalPadding;

    min-width: 2.5rem;
}

.languageindicator-widget label {
    font-size: $fontSize;
    font-weight: $textWeight;
}