.notificationbutton-widget {
    background-color: $surface;

    border-radius: $borderRadius;
    padding: $generalPadding $generalPadding / 2;

    margin: 0;
}

.notification-info {
    background-color: mix($surface, $background, 50%);
    border-radius: $borderRadius * 1.75;
    margin: $generalPadding 0;
    padding: $generalPadding * 2;

    min-width: 30rem;
    min-height: 5rem;

    font-size: $fontSize;
    font-family: "Product Sans Regular";

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.notification-summary {
    font-weight: 600;
    margin: 0;
}

.notification-body {
    font-size: $fontSize * 0.8;

    margin: 0;
}

.notification-close {
    background-color: $surface;
    margin-left: 1rem;
    margin-right: 0rem;
    margin-top: 0.5rem;
    
    border-radius: $borderRadius * 2;
    padding: 0 $generalPadding / 2;
}

.notification-close label {
    font-size: $fontSize * 1.1;
}

.notification-close:hover {
    background-color: mix($surface, white, 90%);
}

.notification-image-visible {
    border-radius: $borderRadius * 5;
    // background-color: $surface;

    padding: $generalPadding;
    margin-left: 0;
}

.notification-image-hidden {
    margin: 0;
    padding: 0;
}

.notification-app {
    font-size: $fontSize / 1.5;
    opacity: 0.5;
}