.notificationbutton-widget {
    background-color: $surface;

    border-radius: $borderRadius;
    padding: $generalPadding;
}

.notificationbutton-widget label {
    font-size: $fontSize;
    font-weight: $fontWeight;
    margin-right: 0.7rem;
    margin-left: 0.5rem;
}

.notification-info {
    background-color: mix($surface, $background, 50%);
    border-radius: $borderRadius * 2;
    margin: $generalPadding 0;
    padding: $generalPadding;

    min-width: 30rem;
    min-height: 5rem;

    font-size: $fontSize;
    font-family: "Product Sans Regular";
}

.notification-summary {
    font-weight: 600;
    margin: 0;
}

.notification-body {
    font-size: $fontSize * 0.8;

    margin: 0;
}

.notification-close {
    background-color: $surface;
    margin-left: 1rem;
    margin-right: 0.5rem;
    
    border-radius: $borderRadius * 2;
    padding: $generalPadding / 2 $generalPadding
}

.notification-close label {
    font-size: $fontSize * 1.25;
}

.notification-close:hover {
    background-color: mix($surface, white, 90%);
}

.notification-image-visible {
    border-radius: $borderRadius;

    margin: $generalPadding * 2;
}

.notification-image-hidden {
    margin: 0;
}