.quicksettings-widget {
    background-color: $surface;
    color: $onSurface;

    border-radius: $borderRadius;
    padding: $generalPadding;
}

.quicksettings-widget image {
    min-width: 1rem;
    min-height: 1rem;

    margin: -1rem 0rem;
}

.quicksettings-widget image:nth-child(1) {
    margin: 0;
}

.quicksettings-widget image:nth-child(2) {
    margin-left: 0.1rem;
}