.quicksettings-button-widget {
    min-width: 15rem;
    min-height: 4rem;

    margin: 0;
    padding: $generalPadding;

    border-radius: $borderRadius * 2;
    transition: background-color 150ms linear;
}

.quicksettings-button-widget image {
    margin-right: $generalPadding;
}

.quicksettings-button-widget label {
    color: $onPrimary;
    margin: 0;
    padding: 0;

    font-size: $fontSize;
    font-weight: 600;
}