.music-player {
    background-color: $container;

    min-height: 12rem;

    border-radius: $borderRadius * 3;

    padding: $generalPadding * 1.5 0 $generalPadding * 2 0;
}

.rounded-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: $borderRadius * 2;
}

.music-scale {
    padding: 0 $generalPadding * 2;
}

.music-scale trough {
    background-color: $onPrimary;
    border-radius: $borderRadius * 2;
    min-height: 0.5rem;

    margin: 0;
    padding: 0;
}

.music-scale highlight {
    background-color: $primary;
    border-radius: $borderRadius * 2;
    min-height: 0.5rem;

    margin: 0;
    padding: 0;
}

.music-controls {
    margin-top: 1rem;
}

.music-controls image {
    background-color: $primary;
    border-radius: 50%;

    min-width: 0.5rem;
    min-height: 1rem;

    padding: 0.3rem;

    color: $onPrimary;
}

.music-seekbar {
    margin-top: $generalPadding;
    padding: 0rem $generalPadding * 2;
}

.music-seekbar label {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}