.network-list {
    background-color: $container;

    border-radius: $borderRadius * 2;

    min-height: 5rem;
    margin: 1rem 0;
}

.network-list-button {
    border-radius: $borderRadius * 2;
    margin: $generalPadding $generalPadding * 2;
}

.network-list-button:hover {
    background-color: mix($container, white, 90%);
}

.network-list-item {
    border-radius: $borderRadius * 2;
    margin: $generalPadding $generalPadding * 2;

    padding: 0 $generalPadding * 2;
}

.network-list-item:hover {
    background-color: mix($container, white, 90%);
}