.quicksettings-menu-widget {
    background-color: $surface;

    border-radius: $borderRadius * 3;

    min-width: 35rem;
    min-height: 32.5rem;

    margin: 0;
    padding: 0 $generalPadding $generalPadding * 2 $generalPadding;

    box-shadow: 0px 0px 5px 5px rgba($color: #000000, $alpha: 0.3);
}

.quicksettings-menu-header {
    padding: $generalPadding * 2 0;
    margin: $generalPadding 0 0 0;
}

.quicksettings-menu-header label {
    font-size: $fontSize * 1.25;
    font-weight: $textWeight;
}