.quicksettings-menu-slider trough {
    min-height: 2rem;

    background-color: $container;
    border-radius: 2rem;

    margin: 1rem 0;
}

.quicksettings-menu-slider highlight {
    background-color: $primary;
    border-radius: 2rem;

    margin: 0;
}

.quicksettings-menu-slider-icon {
    background-color: $primary;
    color: $onPrimary;

    border-radius: 2rem;
    min-width: 3.5rem;

    margin: 1rem 0;
}