$background: #0F1417;
$primary: #ACC7FF;
$onPrimary: #0F1417;
$secondary: #335766;
$surface: #1E333C;
$onSurface: #FFFFFF;
$container: #3F4A65;

$borderRadius: 1rem;

$fontWeight: bold;
$fontSize: 1.25rem;
$textWeight: 600;

$generalPadding: 0.5rem;