$background: #0F1417;
$primary: #ACC7FF;
$onPrimary: #FFFFFF;
$secondary: #7E5538;
$surface: #1E333C;
$onSurface: #FFFFFF;

$borderRadius: 1rem;

$fontWeight: bold;
$fontSize: 1.25rem;
$textWeight: 600;

$generalPadding: 0.5rem;