* {
    all: unset;
    margin: 0rem 0.4rem;
    font-family: "Product Sans Regular";
    font-size: 16px;
}

@import "colors.scss";

@import "scss/bar/powerbutton.scss";
@import "scss/bar/quicksettings.scss";
@import "scss/bar/notificationbutton.scss";
@import "scss/bar/batteryindicator.scss";
@import "scss/bar/clock.scss";
@import "scss/bar//weather.scss";
@import "scss/bar/dashboardbutton.scss";
@import "scss/bar/temperature.scss";
@import "scss/bar/languageindicator.scss";
@import "scss/bar/bar.scss";